
/****** Object:  StoredProcedure [dbo].[ACA_RID_FillTempTable_RM]    Script Date: 22/05/2017 07:37:11 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
  create PROCEDURE [dbo].[ACA_RID_FillTempTable_RM] @TEMPTABLE CHAR(100), @FECHAD CHAR(8), @FECHAH CHAR(8), @VENDNAME CHAR(64), @VCHRNMBR CHAR(21), @YEAR1 INT, @MONTH1 INT, @TAXSTATUS tinyint  
AS 
DECLARE @EJECUTAR CHAR(300) 
--SELECT @TEMPTABLE = '##1274428' 
-- EXEC ACA_RID_FillTempTable_RM '##1020630', '20170401', '20170430', '', '', 0, 0, 1 
SELECT @EJECUTAR = 'DELETE ' + rtrim(@TEMPTABLE) 
EXEC (@EJECUTAR) 
CREATE TABLE #TEMPORAL 
	(Selected tinyint, 
	CHEKBKID CHAR(15), 
	VCHRNMBR CHAR(21), 
	VENDORID CHAR(15), 
	VENDNAME CHAR(64), 
	DATE1 DATETIME, 
	DOCAMNT NUMERIC(19, 5), 
	DSCRIPTN CHAR(30), 
	STSDESCR CHAR(30), 
	COMMENT1 CHAR(30), 
	YEAR1 smallint, 
	MONTH1 smallint, 
	DEX_ROW_ID INT IDENTITY(1,1) 
	) 

INSERT INTO #TEMPORAL 
SELECT DISTINCT 0 Selected, CASE WHEN A.MSCSCHID = '' THEN  
ISNULL((SELECT TOP 1 TII_CHEKBKID FROM (SELECT TII_CHEKBKID FROM nfMCP20100 WHERE NUMBERIE = A.DOCNUMBR AND TII_CHEKBKID <> '' UNION SELECT TII_CHEKBKID FROM nfMCP30100 WHERE NUMBERIE = A.DOCNUMBR AND TII_CHEKBKID <> '') X ),  
ISNULL((SELECT TOP 1 MEDIOID FROM (SELECT MEDIOID FROM nfMCP20100 WHERE NUMBERIE = A.DOCNUMBR AND TII_CHEKBKID = '' UNION SELECT MEDIOID FROM nfMCP30100 WHERE NUMBERIE = A.DOCNUMBR AND TII_CHEKBKID <> '') X ), '')) 
 ELSE A.MSCSCHID END CHEKBKID, 
A.DOCNUMBR, A.CUSTNMBR, B.CUSTNAME, A.DOCDATE, A.ORTRXAMT, '' DSCRIPTN, 
CASE WHEN A.VOIDSTTS = 1 THEN 'Anulado' ELSE '' END STSDESCR, '' COMMENT1, YEAR(A.GLPOSTDT) YEAR1, 
MONTH(A.GLPOSTDT) MONTH1  
FROM RM20101 A INNER JOIN RM00101 B ON A.CUSTNMBR = B.CUSTNMBR INNER JOIN RM00401 KM ON A.RMDTYPAL = KM.RMDTYPAL AND A.DOCNUMBR = KM.DOCNUMBR 
LEFT OUTER JOIN ACA_RID10000 D ON A.RMDTYPAL = D.DOCTYPE AND A.DOCNUMBR = D.VCHRNMBR
WHERE A.RMDTYPAL = 9 AND KM.DCSTATUS = 2 AND D.VCHRNMBR IS NULL 
UNION  
SELECT DISTINCT 0 Selected, CASE WHEN A.MSCSCHID = '' THEN  
ISNULL((SELECT TOP 1 TII_CHEKBKID FROM (SELECT TII_CHEKBKID FROM nfMCP20100 WHERE NUMBERIE = A.DOCNUMBR AND TII_CHEKBKID <> '' UNION SELECT TII_CHEKBKID FROM nfMCP30100 WHERE NUMBERIE = A.DOCNUMBR AND TII_CHEKBKID <> '') X ),  
ISNULL((SELECT TOP 1 MEDIOID FROM (SELECT MEDIOID FROM nfMCP20100 WHERE NUMBERIE = A.DOCNUMBR AND TII_CHEKBKID = '' UNION SELECT MEDIOID FROM nfMCP30100 WHERE NUMBERIE = A.DOCNUMBR AND TII_CHEKBKID <> '') X ), '')) 
 ELSE A.MSCSCHID END CHEKBKID, 
A.DOCNUMBR, A.CUSTNMBR, B.CUSTNAME, A.DOCDATE, A.ORTRXAMT, '' DSCRIPTN, 
CASE WHEN A.VOIDSTTS = 1 THEN 'Anulado' ELSE '' END STSDESCR, '' COMMENT1, YEAR(A.GLPOSTDT) YEAR1, 
MONTH(A.GLPOSTDT) MONTH1  
FROM RM30101 A INNER JOIN RM00101 B ON A.CUSTNMBR = B.CUSTNMBR INNER JOIN RM00401 KM ON A.RMDTYPAL = KM.RMDTYPAL AND A.DOCNUMBR = KM.DOCNUMBR 
LEFT OUTER JOIN ACA_RID10000 D ON A.RMDTYPAL = D.DOCTYPE AND A.DOCNUMBR = D.VCHRNMBR
WHERE A.RMDTYPAL = 9 AND KM.DCSTATUS = 3 AND D.VCHRNMBR IS NULL 
UNION
SELECT DISTINCT 0 Selected, CASE WHEN A.MSCSCHID = '' THEN  
ISNULL((SELECT TOP 1 TII_CHEKBKID FROM (SELECT TII_CHEKBKID FROM nfMCP20100 WHERE NUMBERIE = A.DOCNUMBR AND TII_CHEKBKID <> '' UNION SELECT TII_CHEKBKID FROM nfMCP30100 WHERE NUMBERIE = A.DOCNUMBR AND TII_CHEKBKID <> '') X ),  
ISNULL((SELECT TOP 1 MEDIOID FROM (SELECT MEDIOID FROM nfMCP20100 WHERE NUMBERIE = A.DOCNUMBR AND TII_CHEKBKID = '' UNION SELECT MEDIOID FROM nfMCP30100 WHERE NUMBERIE = A.DOCNUMBR AND TII_CHEKBKID <> '') X ), '')) 
 ELSE A.MSCSCHID END CHEKBKID, 
A.DOCNUMBR, A.CUSTNMBR, B.CUSTNAME, A.DOCDATE, A.ORTRXAMT, '' DSCRIPTN, 
CASE WHEN A.VOIDSTTS = 1 THEN 'Anulado' ELSE '' END STSDESCR, '' COMMENT1, YEAR(A.GLPOSTDT) YEAR1, 
MONTH(A.GLPOSTDT) MONTH1  
FROM RM20101 A INNER JOIN RM00101 B ON A.CUSTNMBR = B.CUSTNMBR INNER JOIN RM00401 KM ON A.RMDTYPAL = KM.RMDTYPAL AND A.DOCNUMBR = KM.DOCNUMBR 
INNER JOIN ACA_RID10000 D ON A.RMDTYPAL = D.DOCTYPE AND A.DOCNUMBR = D.VCHRNMBR
WHERE A.RMDTYPAL = 9 AND KM.DCSTATUS = 2 AND D.ACA_RID_Last = 1 
UNION  
SELECT DISTINCT 0 Selected, CASE WHEN A.MSCSCHID = '' THEN  
ISNULL((SELECT TOP 1 TII_CHEKBKID FROM (SELECT TII_CHEKBKID FROM nfMCP20100 WHERE NUMBERIE = A.DOCNUMBR AND TII_CHEKBKID <> '' UNION SELECT TII_CHEKBKID FROM nfMCP30100 WHERE NUMBERIE = A.DOCNUMBR AND TII_CHEKBKID <> '') X ),  
ISNULL((SELECT TOP 1 MEDIOID FROM (SELECT MEDIOID FROM nfMCP20100 WHERE NUMBERIE = A.DOCNUMBR AND TII_CHEKBKID = '' UNION SELECT MEDIOID FROM nfMCP30100 WHERE NUMBERIE = A.DOCNUMBR AND TII_CHEKBKID <> '') X ), '')) 
 ELSE A.MSCSCHID END CHEKBKID, 
A.DOCNUMBR, A.CUSTNMBR, B.CUSTNAME, A.DOCDATE, A.ORTRXAMT, '' DSCRIPTN, 
CASE WHEN A.VOIDSTTS = 1 THEN 'Anulado' ELSE '' END STSDESCR, '' COMMENT1, YEAR(A.GLPOSTDT) YEAR1, 
MONTH(A.GLPOSTDT) MONTH1  
FROM RM30101 A INNER JOIN RM00101 B ON A.CUSTNMBR = B.CUSTNMBR INNER JOIN RM00401 KM ON A.RMDTYPAL = KM.RMDTYPAL AND A.DOCNUMBR = KM.DOCNUMBR 
INNER JOIN ACA_RID10000 D ON A.RMDTYPAL = D.DOCTYPE AND A.DOCNUMBR = D.VCHRNMBR
WHERE A.RMDTYPAL = 9 AND KM.DCSTATUS = 3 AND D.ACA_RID_Last = 1 
ORDER BY A.DOCNUMBR

UPDATE #TEMPORAL SET DSCRIPTN = CASE ISNULL(B.ACA_RID_Tax_Status, 0)  
WHEN 0 THEN 'No procesado' WHEN 1 THEN 'Reclasificado' ELSE 'Revertido' END, YEAR1 = CASE WHEN ISNULL(B.YEAR1, 0) = 0 THEN A.YEAR1 ELSE B.YEAR1 END, MONTH1 = CASE WHEN ISNULL(B.YEAR1, 0) = 0 THEN A.MONTH1 ELSE B.MONTHINTERVAL END 
FROm #TEMPORAL A LEFT OUTER JOIN ACA_RID10000 B ON A.VCHRNMBR = B.VCHRNMBR WHERE ISNULL(B.TXDTLTYP, 1) = 1 AND ISNULL(B.DOCTYPE, 9) = 9 AND ISNULL(B.ACA_RID_Last, 1) = 1 

UPDATE #TEMPORAL SET STSDESCR = CASE WHEN KM.CUSTNMBR LIKE '99999%' THEN 'En suspenso' ELSE 'Normal' END
FROM #TEMPORAL TMP INNER JOIN RM00401 KM ON TMP.VCHRNMBR = KM.DOCNUMBR WHERE KM.RMDTYPAL = 9 AND STSDESCR <> 'Anulado' 

UPDATE #TEMPORAL SET STSDESCR = CASE WHEN ISNULL((select SUM(APFRMAPLYAMT) APPLDAMT from RM20201 A 
WHERE APTODCTY IN( 3) AND A.APFRDCNM = TMP.VCHRNMBR AND A.APFRDCTY = 9), 0) = TMP.DOCAMNT THEN 'Anulado' ELSE STSDESCR END 
FROM #TEMPORAL TMP INNER JOIN RM00401 KM ON TMP.VCHRNMBR = KM.DOCNUMBR WHERE KM.RMDTYPAL = 9 AND DCSTATUS = 2 AND DSCRIPTN <> 'Reclasificado'
AND KM.CUSTNMBR NOT LIKE '99999%'

UPDATE #TEMPORAL SET STSDESCR = CASE WHEN ISNULL((select SUM(APFRMAPLYAMT) APPLDAMT from RM30201 A 
WHERE APTODCTY IN( 3) AND A.APFRDCNM = TMP.VCHRNMBR AND A.APFRDCTY = 9), 0) = TMP.DOCAMNT THEN 'Anulado' ELSE STSDESCR END 
FROM #TEMPORAL TMP INNER JOIN RM00401 KM ON TMP.VCHRNMBR = KM.DOCNUMBR WHERE KM.RMDTYPAL = 9 AND DCSTATUS = 2 AND DSCRIPTN <> 'Reclasificado' 
AND KM.CUSTNMBR NOT LIKE '99999%'

UPDATE #TEMPORAL SET DSCRIPTN = 'Anulado Revertido' 
FROM #TEMPORAL TMP INNER JOIN 
(SELECT DOCNUMBR FROM RM20101 WHERE RMDTYPAL = 9 AND VOIDSTTS = 1 UNION SELECT DOCNUMBR FROM RM30101 WHERE RMDTYPAL = 9 AND VOIDSTTS = 1)
HS ON TMP.VCHRNMBR = HS.DOCNUMBR 
INNER JOIN ACA_RID10000 D ON TMP.VCHRNMBR = D.VCHRNMBR WHERE D.ACA_RID_Origen = 1 AND D.ACA_RID_Tax_Status = 1

UPDATE #TEMPORAL  
SET COMMENT1 =  
		CASE DSCRIPTN 
			WHEN 'No procesado' THEN 
				CASE STSDESCR 
				WHEN 'En suspenso' THEN	'Debe reclasificar' 
				WHEN 'Normal' THEN 'Debe reclasificar' 
				WHEN 'Anulado' THEN	'No es posible reclasificar' 
				END 
			WHEN 'Reclasificado' THEN 
				CASE STSDESCR 
				WHEN 'En suspenso' THEN 'OK (puede revertir)' 
				WHEN 'Normal' THEN	'OK (puede revertir)' 
				WHEN 'Anulado' THEN 'Debe revertir' 
				END 
			WHEN 'Revertido' THEN 
				CASE STSDESCR 
				WHEN 'En suspenso' THEN 'OK (puede reclasificar)' 
				WHEN 'Normal' THEN 'OK (puede reclasificar)' 
				WHEN 'Anulado' THEN 'No es posible reclasificar' 
				END 
			WHEN 'Anulado Revertido' THEN 
				'No es posible reclasificar' 
			ELSE
				'A Revisar'
		END 

IF RTRIM(@VENDNAME)<>'' BEGIN DELETE #TEMPORAL WHERE VENDNAME NOT LIKE '%'+RTRIM(@VENDNAME)+'%' END 
IF RTRIM(@VCHRNMBR)<>'' BEGIN DELETE #TEMPORAL WHERE VCHRNMBR NOT LIKE '%'+RTRIM(@VCHRNMBR)+'%' END 
IF @FECHAD <> '19000101' BEGIN DELETE #TEMPORAL WHERE DATE1 < @FECHAD END 
IF @FECHAH <> '19000101' BEGIN DELETE #TEMPORAL WHERE DATE1 > @FECHAH END 
IF @YEAR1 <> 0 BEGIN DELETE #TEMPORAL WHERE YEAR1 <> @YEAR1 END 
IF @MONTH1 <> 0 BEGIN DELETE #TEMPORAL WHERE MONTH1 <> @MONTH1 END 
if @TAXSTATUS = 0 BEGIN DELETE #TEMPORAL WHERE DSCRIPTN <> 'No procesado' END
if @TAXSTATUS = 1 BEGIN DELETE #TEMPORAL WHERE DSCRIPTN <> 'Reclasificado' END
if @TAXSTATUS = 2 BEGIN DELETE #TEMPORAL WHERE DSCRIPTN <> 'Revertido' END
if @TAXSTATUS = 0 BEGIN UPDATE #TEMPORAL SET Selected = 1 WHERE DSCRIPTN = 'No procesado' AND RTRIM(COMMENT1) NOT LIKE 'No es%' END

SELECT @EJECUTAR = 'INSERT INTO ' + RTRIM(@TEMPTABLE) + ' SELECT Selected, CHEKBKID, VCHRNMBR, VENDORID, VENDNAME, DATE1, DOCAMNT, DSCRIPTN, STSDESCR, COMMENT1, YEAR1, MONTH1 FROM #TEMPORAL' 
EXEC (@EJECUTAR) 
DROP TABLE #TEMPORAL 


go
