
/****** Object:  StoredProcedure [dbo].[ACA_RID_Reimputacion_Impuestos_PM_OPEN_HIST]    Script Date: 22/05/2017 07:38:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
create PROCEDURE [dbo].[ACA_RID_Reimputacion_Impuestos_PM_OPEN_HIST] @VCHRNMBR char(21), @TRXDATE datetime, @BACHNUMB CHAR(15), @USERID CHAR(15) 
AS 
-- EXEC ACA_RID_Reimputacion_Impuestos_PM_OPEN_HIST 'OP00000127', '20121231', '13010800', 'sa'
if not exists(select name from sysobjects where name = 'ACA_RID_TX00201' and xtype = 'U') return 
--SELECT @VCHRNMBR = 'OP00000022' 
declare @CURNCYID char(15), @FROMCURR char(15), @RATETPID CHAR(15), @EXGTBLID CHAR(15) 
DECLARE @FUNLCURR CHAR(15), @DECPLCUR smallint, @FRMDCPLCUR smallint 
DECLARE @DSTSQNUM INT, @DSTINDX int, @ACTINDX INT, @DCINDX INT 
DECLARE @DEBITAMT numeric(19,5), @CRDTAMNT NUMERIC(19,5) 
DECLARE @ORDBTAMT NUMERIC(19,5), @ORCRDAMT NUMERIC(19,5) 
DECLARE @TAXAMNT NUMERIC(19,5), @ORTAXAMT NUMERIC(19,5), @DIF NUMERIC(19,5) 
DECLARE @VENDORID CHAR(15), @ICCURRID CHAR(15) 
DECLARE @CNTRLTYP smallint, @RTCLCMTD smallint, @DECPLACS smallint, @MCTRXSTT smallint 
DECLARE @CURRNIDX INT, @FROMCURNIDX INT, @ICCURRIX INT, @LINEA INT 
DECLARE @XCHGRATE NUMERIC(19,7), @DENXRATE NUMERIC(19,5) 
DECLARE @EXCHDATE datetime, @TIME1 datetime, @EXPNDATE datetime 
DECLARE @TAXDTLID CHAR(15), @APTVCHNM CHAR(21), @APTODCTY smallint 
DECLARE @DATE1 datetime, @TIME2 datetime, @SOURCDOC CHAR(11)
DECLARE @l_tINCheckWORKFiles tinyint, @I_iSQLSessionID int, @IO_iOUTJournalEntry int, @O_tOUTOK tinyint, @O_iErrorState int
DECLARE @O_nDTAIndex numeric(19,5), @O_mNoteIndex numeric(19,5), @SQNCLINE numeric(19, 5)
DECLARE @SENIAL tinyint, @I_sCompanyID smallint, @YEAR1 INT, @PERIODID SMALLINT, @BCHTOTAL NUMERIC(19,5)
DECLARE @ORMSTRID CHAR(15), @ORMSTRNM CHAR(64), @RECLASIFICADO tinyint

SELECT @FUNLCURR = FUNLCURR FROM MC40000 
SELECT @DATE1 = convert(char(8), getdate(), 112) 
SELECT @TIME2 = '19000101 ' + convert(char(12), getdate(), 114) 
PRINT @FUNLCURR 
SELECT @DECPLCUR = DECPLCUR-1 FROM DYNAMICS..MC40200 WHERE CURNCYID = @FUNLCURR 
SELECT @SENIAL = 0
SELECT @ORMSTRID = A.VENDORID, @ORMSTRNM = VENDNAME FROM PM00200 A INNER JOIN PM00400 B ON A.VENDORID = B.VENDORID WHERE B.CNTRLNUM = @VCHRNMBR AND B.CNTRLTYP = 1
SELECT @DSTSQNUM = 0

CREATE TABLE #TEMP
	(
	[VCHRNMBR] [CHAR](21) NOT NULL,
	[DOCTYPE] [smallint] NOT NULL,
	[TAXDTLID] [CHAR](15) NOT NULL,
	[DEBITAMT] [numeric](19, 5) NOT NULL,
	[CRDTAMNT] [numeric](19, 5) NOT NULL,
	[ORDBTAMT] [numeric](19, 5) NOT NULL,
	[ORCRDAMT] [numeric](19, 5) NOT NULL,
	[ACTINDX] [int] NOT NULL,
	[DIF] [numeric](19, 5) NOT NULL,
	[ORTAXAMT] [numeric](19, 5) NOT NULL,
	[LINEA] [smallint] NOT NULL,
	[DEX_ROW_ID] [int] IDENTITY(1,1) NOT NULL
	)

SELECT @CURNCYID = A.CURNCYID, @CURRNIDX = C.CURRNIDX, @RATETPID = ISNULL(B.RATETPID, ''), @EXGTBLID = ISNULL(B.EXGTBLID, ''), @XCHGRATE = ISNULL(B.XCHGRATE, 1),  
@EXCHDATE = ISNULL(B.EXCHDATE, 0), @TIME1 = ISNULL(B.TIME1, 0), @RTCLCMTD = ISNULL(B.RTCLCMTD, 0), @DECPLACS = C.DECPLCUR, @EXPNDATE = 0, @ICCURRID = D.FUNLCURR,  
@ICCURRIX = D.FUNCRIDX, @DENXRATE = ISNULL(B.DENXRATE, 0), @MCTRXSTT = ISNULL(B.MCTRXSTT, 0), @VENDORID = A.VENDORID 
FROM (SELECT VCHRNMBR, DOCTYPE, DOCAMNT, CURNCYID, VENDORID FROM PM20000 WHERE VCHRNMBR = @VCHRNMBR UNION SELECT VCHRNMBR, DOCTYPE, DOCAMNT, CURNCYID, VENDORID FROM PM30200 WHERE VCHRNMBR = @VCHRNMBR 
)  A INNER JOIN DYNAMICS..MC40200 C ON A.CURNCYID = C.CURNCYID LEFT OUTER JOIN MC020103 B ON A.DOCTYPE = B.DOCTYPE AND A.VCHRNMBR = B.VCHRNMBR
CROSS JOIN MC40000 D
WHERE A.VCHRNMBR = @VCHRNMBR 

SELECT @FRMDCPLCUR = DECPLCUR-1 FROM DYNAMICS..MC40200 WHERE CURNCYID = @CURNCYID 

SELECT @DCINDX = ISNULL((SELECT TOP 1 ACTINDX FROM SY01100 WHERE SERIES = 2 AND SEQNUMBR IN(100, 200, 300, 400) AND ACTINDX <> 0), 0) 
--DECLARE TAXES CURSOR FOR 

SELECT TOP 1 @SOURCDOC = SOURCDOC FROM SY01000 WHERE TRXSRCPX IN('GLTRN', 'GLTRX')

SELECT @SQNCLINE = 0

SELECT @l_tINCheckWORKFiles = 0
SELECT @I_iSQLSessionID = 0
SELECT @IO_iOUTJournalEntry = 0

INSERT INTO #TEMP
SELECT A.VCHRNMBR, A.DOCTYPE, A.TAXDTLID,  
ISNULL(ROUND((CASE WHEN A.TAXAMNT < 0 THEN ABS(A.TAXAMNT) ELSE 0 END)*B.ORAPPAMT/ISNULL(E.ORDOCAMT, D.DOCAMNT), @DECPLCUR), 0) DEBITAMT,  
ISNULL(ROUND((CASE WHEN A.TAXAMNT < 0 THEN 0 ELSE ABS(A.TAXAMNT) END)*B.ORAPPAMT/ISNULL(E.ORDOCAMT, D.DOCAMNT), @DECPLCUR), 0) CRDTAMNT, 
ISNULL(ROUND((CASE WHEN A.ORTAXAMT < 0 THEN ABS(A.ORTAXAMT) ELSE 0 END)*B.ORAPPAMT/ISNULL(E.ORDOCAMT, D.DOCAMNT), @FRMDCPLCUR), 0) ORDBTAMT,  
ISNULL(ROUND((CASE WHEN A.ORTAXAMT < 0 THEN 0 ELSE ABS(A.ORTAXAMT) END)*B.ORAPPAMT/ISNULL(E.ORDOCAMT, D.DOCAMNT), @FRMDCPLCUR), 0) ORCRDAMT,  
ACTINDX, 0 DIF, A.ORTAXAMT, 1 LINEA 
FROM 
(SELECT VCHRNMBR, DOCTYPE, TAXDTLID, TAXAMNT, ORTAXAMT, ACTINDX FROM PM10500
UNION
SELECT VCHRNMBR, DOCTYPE, TAXDTLID, TAXAMNT, ORTAXAMT, ACTINDX FROM PM30700
) A INNER JOIN (
SELECT APTVCHNM, APTODCTY, VCHRNMBR, DOCTYPE, ORAPPAMT, CURNCYID, FROMCURR, APTOEXRATE, APFRMEXRATE FROM PM10200 WHERE VCHRNMBR = @VCHRNMBR
UNION
SELECT APTVCHNM, APTODCTY, VCHRNMBR, DOCTYPE, ORAPPAMT, CURNCYID, FROMCURR, APTOEXRATE, APFRMEXRATE FROM PM30300 WHERE VCHRNMBR = @VCHRNMBR
) B ON A.VCHRNMBR = B.APTVCHNM AND A.DOCTYPE = B.APTODCTY 
INNER JOIN ACA_RID_TX00201 C ON A.TAXDTLID = C.TAXDTLID 
INNER JOIN 
(SELECT VCHRNMBR, DOCTYPE, DOCAMNT, CURNCYID FROM PM20000 WHERE DOCTYPE <> 6 UNION SELECT VCHRNMBR, DOCTYPE, DOCAMNT, CURNCYID FROM PM30200 WHERE DOCTYPE <> 6
) D ON A.VCHRNMBR = D.VCHRNMBR AND A.DOCTYPE = D.DOCTYPE 
INNER JOIN ACA_IETU00400 F ON A.VCHRNMBR = F.VCHRNMBR AND A.DOCTYPE = F.DOCTYPE 
LEFT OUTER JOIN MC020103 E ON A.VCHRNMBR = E.VCHRNMBR AND A.DOCTYPE = E.DOCTYPE 
WHERE B.VCHRNMBR = @VCHRNMBR AND C.CB_RID_Reimputa = 1  
AND (B.CURNCYID <> B.FROMCURR OR B.CURNCYID = @FUNLCURR OR B.FROMCURR = @FUNLCURR) AND F.ACA_Gasto = 1 
UNION ALL 
SELECT A.VCHRNMBR, A.DOCTYPE, A.TAXDTLID,  
ISNULL(ROUND((CASE WHEN A.TAXAMNT < 0 THEN 0 ELSE ABS(A.TAXAMNT) END)*B.ORAPPAMT/ISNULL(E.ORDOCAMT, D.DOCAMNT), @DECPLCUR), 0) DEBITAMT,  
ISNULL(ROUND((CASE WHEN A.TAXAMNT < 0 THEN ABS(A.TAXAMNT) ELSE 0 END)*B.ORAPPAMT/ISNULL(E.ORDOCAMT, D.DOCAMNT), @DECPLCUR), 0) CRDTAMNT, 
ISNULL(ROUND((CASE WHEN A.ORTAXAMT < 0 THEN 0 ELSE ABS(A.ORTAXAMT) END)*B.ORAPPAMT/ISNULL(E.ORDOCAMT, D.DOCAMNT), @FRMDCPLCUR), 0) ORDBTAMT,  
ISNULL(ROUND((CASE WHEN A.ORTAXAMT < 0 THEN ABS(A.ORTAXAMT) ELSE 0 END)*B.ORAPPAMT/ISNULL(E.ORDOCAMT, D.DOCAMNT), @FRMDCPLCUR), 0) ORCRDAMT,  
LI_Cuenta_ImpPagado ACTINDX, 0 DIF, A.ORTAXAMT, 2 LINEA 
FROM 
(SELECT VCHRNMBR, DOCTYPE, TAXDTLID, TAXAMNT, ORTAXAMT, ACTINDX FROM PM10500
UNION
SELECT VCHRNMBR, DOCTYPE, TAXDTLID, TAXAMNT, ORTAXAMT, ACTINDX FROM PM30700
) A INNER JOIN (
SELECT APTVCHNM, APTODCTY, VCHRNMBR, DOCTYPE, ORAPPAMT, CURNCYID, FROMCURR, APTOEXRATE, APFRMEXRATE FROM PM10200 WHERE VCHRNMBR = @VCHRNMBR
UNION
SELECT APTVCHNM, APTODCTY, VCHRNMBR, DOCTYPE, ORAPPAMT, CURNCYID, FROMCURR, APTOEXRATE, APFRMEXRATE FROM PM30300 WHERE VCHRNMBR = @VCHRNMBR
) B ON A.VCHRNMBR = B.APTVCHNM AND A.DOCTYPE = B.APTODCTY 
INNER JOIN ACA_RID_TX00201 C ON A.TAXDTLID = C.TAXDTLID 
INNER JOIN  
(SELECT VCHRNMBR, DOCTYPE, DOCAMNT FROM PM20000 WHERE DOCTYPE <> 6 UNION SELECT VCHRNMBR, DOCTYPE, DOCAMNT FROM PM30200 WHERE DOCTYPE <> 6
) D ON A.VCHRNMBR = D.VCHRNMBR AND A.DOCTYPE = D.DOCTYPE 
INNER JOIN ACA_IETU00400 F ON A.VCHRNMBR = F.VCHRNMBR AND A.DOCTYPE = F.DOCTYPE 
LEFT OUTER JOIN MC020103 E ON A.VCHRNMBR = E.VCHRNMBR AND A.DOCTYPE = E.DOCTYPE 
WHERE B.VCHRNMBR = @VCHRNMBR AND C.CB_RID_Reimputa = 1  
AND (B.CURNCYID <> B.FROMCURR OR B.CURNCYID = @FUNLCURR OR B.FROMCURR = @FUNLCURR) AND F.ACA_Gasto = 1 
UNION ALL 
SELECT A.VCHRNMBR, A.DOCTYPE, A.TAXDTLID,  
ISNULL(ROUND((CASE WHEN A.ORTAXAMT < 0 THEN ABS(A.ORTAXAMT) ELSE 0 END)*(B.ORAPPAMT/ISNULL(E.ORDOCAMT, D.DOCAMNT))*B.APTOEXRATE, @DECPLCUR), 0) DEBITAMT,  
ISNULL(ROUND((CASE WHEN A.ORTAXAMT < 0 THEN 0 ELSE ABS(A.ORTAXAMT) END)*(B.ORAPPAMT/ISNULL(E.ORDOCAMT, D.DOCAMNT))*B.APTOEXRATE, @DECPLCUR), 0) CRDTAMNT, 
ISNULL(ROUND((CASE WHEN A.ORTAXAMT < 0 THEN ABS(A.ORTAXAMT) ELSE 0 END)*B.ORAPPAMT/ISNULL(E.ORDOCAMT, D.DOCAMNT), @FRMDCPLCUR), 0) ORDBTAMT,  
ISNULL(ROUND((CASE WHEN A.ORTAXAMT < 0 THEN 0 ELSE ABS(A.ORTAXAMT) END)*B.ORAPPAMT/ISNULL(E.ORDOCAMT, D.DOCAMNT), @FRMDCPLCUR), 0) ORCRDAMT,  
ACTINDX, 0 DIF, A.ORTAXAMT, 1 LINEA 
FROM 
(SELECT VCHRNMBR, DOCTYPE, TAXDTLID, TAXAMNT, ORTAXAMT, ACTINDX FROM PM10500
UNION
SELECT VCHRNMBR, DOCTYPE, TAXDTLID, TAXAMNT, ORTAXAMT, ACTINDX FROM PM30700
) A INNER JOIN (
SELECT APTVCHNM, APTODCTY, VCHRNMBR, DOCTYPE, ORAPPAMT, CURNCYID, FROMCURR, APTOEXRATE, APFRMEXRATE FROM PM10200 WHERE VCHRNMBR = @VCHRNMBR
UNION
SELECT APTVCHNM, APTODCTY, VCHRNMBR, DOCTYPE, ORAPPAMT, CURNCYID, FROMCURR, APTOEXRATE, APFRMEXRATE FROM PM30300 WHERE VCHRNMBR = @VCHRNMBR
) B ON A.VCHRNMBR = B.APTVCHNM AND A.DOCTYPE = B.APTODCTY 
INNER JOIN ACA_RID_TX00201 C ON A.TAXDTLID = C.TAXDTLID 
INNER JOIN  
(SELECT VCHRNMBR, DOCTYPE, DOCAMNT FROM PM20000 WHERE DOCTYPE <> 6 UNION SELECT VCHRNMBR, DOCTYPE, DOCAMNT FROM PM30200 WHERE DOCTYPE <> 6
) D ON A.VCHRNMBR = D.VCHRNMBR AND A.DOCTYPE = D.DOCTYPE 
INNER JOIN ACA_IETU00400 F ON A.VCHRNMBR = F.VCHRNMBR AND A.DOCTYPE = F.DOCTYPE 
LEFT OUTER JOIN MC020103 E ON A.VCHRNMBR = E.VCHRNMBR AND A.DOCTYPE = E.DOCTYPE 
WHERE B.VCHRNMBR = @VCHRNMBR AND C.CB_RID_Reimputa = 1 AND B.CURNCYID = B.FROMCURR AND B.CURNCYID <> @FUNLCURR AND F.ACA_Gasto = 1 
UNION ALL 
SELECT A.VCHRNMBR, A.DOCTYPE, A.TAXDTLID,  
ISNULL(ROUND((CASE WHEN A.ORTAXAMT < 0 THEN 0 ELSE ABS(A.ORTAXAMT) END)*(B.ORAPPAMT/ISNULL(E.ORDOCAMT, D.DOCAMNT))*B.APFRMEXRATE, @DECPLCUR), 0) DEBITAMT,  
ISNULL(ROUND((CASE WHEN A.ORTAXAMT < 0 THEN ABS(A.ORTAXAMT) ELSE 0 END)*(B.ORAPPAMT/ISNULL(E.ORDOCAMT, D.DOCAMNT))*B.APFRMEXRATE, @DECPLCUR), 0) CRDTAMNT, 
ISNULL(ROUND((CASE WHEN A.ORTAXAMT < 0 THEN 0 ELSE ABS(A.ORTAXAMT) END)*B.ORAPPAMT/ISNULL(E.ORDOCAMT, D.DOCAMNT), @FRMDCPLCUR), 0) ORDBTAMT,  
ISNULL(ROUND((CASE WHEN A.ORTAXAMT < 0 THEN ABS(A.ORTAXAMT) ELSE 0 END)*B.ORAPPAMT/ISNULL(E.ORDOCAMT, D.DOCAMNT), @FRMDCPLCUR), 0) ORCRDAMT,  
LI_Cuenta_ImpPagado ACTINDX, 0 DIF, A.ORTAXAMT, 2 LINEA 
FROM 
(SELECT VCHRNMBR, DOCTYPE, TAXDTLID, TAXAMNT, ORTAXAMT, ACTINDX FROM PM10500
UNION
SELECT VCHRNMBR, DOCTYPE, TAXDTLID, TAXAMNT, ORTAXAMT, ACTINDX FROM PM30700
) A INNER JOIN (
SELECT APTVCHNM, APTODCTY, VCHRNMBR, DOCTYPE, ORAPPAMT, CURNCYID, FROMCURR, APTOEXRATE, APFRMEXRATE FROM PM10200 WHERE VCHRNMBR = @VCHRNMBR
UNION
SELECT APTVCHNM, APTODCTY, VCHRNMBR, DOCTYPE, ORAPPAMT, CURNCYID, FROMCURR, APTOEXRATE, APFRMEXRATE FROM PM30300 WHERE VCHRNMBR = @VCHRNMBR
) B ON A.VCHRNMBR = B.APTVCHNM AND A.DOCTYPE = B.APTODCTY 
INNER JOIN ACA_RID_TX00201 C ON A.TAXDTLID = C.TAXDTLID 
INNER JOIN  
(SELECT VCHRNMBR, DOCTYPE, DOCAMNT FROM PM20000 WHERE DOCTYPE <> 6 UNION SELECT VCHRNMBR, DOCTYPE, DOCAMNT FROM PM30200 WHERE DOCTYPE <> 6
) D ON A.VCHRNMBR = D.VCHRNMBR AND A.DOCTYPE = D.DOCTYPE 
INNER JOIN ACA_IETU00400 F ON A.VCHRNMBR = F.VCHRNMBR AND A.DOCTYPE = F.DOCTYPE 
LEFT OUTER JOIN MC020103 E ON A.VCHRNMBR = E.VCHRNMBR AND A.DOCTYPE = E.DOCTYPE 
WHERE B.VCHRNMBR = @VCHRNMBR AND C.CB_RID_Reimputa = 1 AND B.CURNCYID = B.FROMCURR AND B.CURNCYID <> @FUNLCURR AND F.ACA_Gasto = 1 
UNION ALL 
SELECT A.VCHRNMBR, A.DOCTYPE, A.TAXDTLID, 0 DEBITAMT, 0 CRDTAMNT, 
0 ORDBTAMT,  
0 ORCRDAMT,  
@DCINDX ACTINDX, 
(ROUND(ABS(A.ORTAXAMT)*(B.ORAPPAMT/ISNULL(E.ORDOCAMT, D.DOCAMNT))*B.APFRMEXRATE, @DECPLCUR) - 
ROUND(ABS(A.ORTAXAMT)*(B.ORAPPAMT/ISNULL(E.ORDOCAMT, D.DOCAMNT))*B.APTOEXRATE, @DECPLCUR)) DIF, A.ORTAXAMT, 3 LINEA 
FROM 
(SELECT VCHRNMBR, DOCTYPE, TAXDTLID, TAXAMNT, ORTAXAMT, ACTINDX FROM PM10500
UNION
SELECT VCHRNMBR, DOCTYPE, TAXDTLID, TAXAMNT, ORTAXAMT, ACTINDX FROM PM30700
) A INNER JOIN (
SELECT APTVCHNM, APTODCTY, VCHRNMBR, DOCTYPE, ORAPPAMT, CURNCYID, FROMCURR, APTOEXRATE, APFRMEXRATE FROM PM10200 WHERE VCHRNMBR = @VCHRNMBR
UNION
SELECT APTVCHNM, APTODCTY, VCHRNMBR, DOCTYPE, ORAPPAMT, CURNCYID, FROMCURR, APTOEXRATE, APFRMEXRATE FROM PM30300 WHERE VCHRNMBR = @VCHRNMBR
) B ON A.VCHRNMBR = B.APTVCHNM AND A.DOCTYPE = B.APTODCTY 
INNER JOIN ACA_RID_TX00201 C ON A.TAXDTLID = C.TAXDTLID 
INNER JOIN  
(SELECT VCHRNMBR, DOCTYPE, DOCAMNT FROM PM20000 WHERE DOCTYPE <> 6 UNION SELECT VCHRNMBR, DOCTYPE, DOCAMNT FROM PM30200 WHERE DOCTYPE <> 6
) D ON A.VCHRNMBR = D.VCHRNMBR AND A.DOCTYPE = D.DOCTYPE 
INNER JOIN ACA_IETU00400 F ON A.VCHRNMBR = F.VCHRNMBR AND A.DOCTYPE = F.DOCTYPE 
LEFT OUTER JOIN MC020103 E ON A.VCHRNMBR = E.VCHRNMBR AND A.DOCTYPE = E.DOCTYPE 
WHERE B.VCHRNMBR = @VCHRNMBR AND C.CB_RID_Reimputa = 1 AND B.CURNCYID = B.FROMCURR AND B.CURNCYID <> @FUNLCURR AND F.ACA_Gasto = 1 
ORDER BY A.VCHRNMBR, A.DOCTYPE, A.TAXDTLID, LINEA 

SELECT @BCHTOTAL = 0

select @PERIODID=PERIODID from SY40100 where series = 2 and @TRXDATE BETWEEN PERIODDT AND PERDENDT AND ODESCTN = 'General Entry'

select @YEAR1=YEAR1 from SY40100 where series = 2 and @TRXDATE BETWEEN PERIODDT AND PERDENDT AND ODESCTN = 'General Entry'

DECLARE TAXES CURSOR FOR SELECT VCHRNMBR, DOCTYPE, TAXDTLID, ISNULL(DEBITAMT, 0), ISNULL(CRDTAMNT, 0), ISNULL(ORDBTAMT, 0), ISNULL(ORCRDAMT, 0), ACTINDX, ISNULL(DIF, 0), ISNULL(ORTAXAMT, 0), LINEA FROM #TEMP
WHERE ISNULL(DEBITAMT, 0)+ISNULL(CRDTAMNT, 0)+ ISNULL(ORDBTAMT, 0)+ISNULL(ORCRDAMT, 0)+ABS(ISNULL(DIF, 0)) <> 0
OPEN TAXES 
FETCH NEXT FROM TAXES INTO @APTVCHNM, @APTODCTY, @TAXDTLID, @DEBITAMT, @CRDTAMNT, @ORDBTAMT, @ORCRDAMT, @ACTINDX, @DIF, @ORTAXAMT, @LINEA 
WHILE @@FETCH_STATUS = 0  
BEGIN 
	PRINT '1'
	PRINT @DEBITAMT
	PRINT @CRDTAMNT
	PRINT @ORDBTAMT
	PRINT @ORCRDAMT
	PRINT '2'
	IF @SENIAL = 0
	BEGIN
		EXEC glGetNextJournalEntry @l_tINCheckWORKFiles, @I_iSQLSessionID, @IO_iOUTJournalEntry output, @O_tOUTOK, @O_iErrorState output

		EXEC dtaGetDTAIndex @IO_iOUTJournalEntry, @O_nDTAIndex output,  @O_iErrorState output 

		EXEC DYNAMICS..smGetNextNoteIndex @I_sCompanyID,  @I_iSQLSessionID, @O_mNoteIndex output, @O_iErrorState

		IF NOT EXISTS(SELECT BACHNUMB FROM GL10000 WHERE JRNENTRY = @IO_iOUTJournalEntry)
		BEGIN
			INSERT INTO GL10000 (BACHNUMB, BCHSOURC, JRNENTRY, SOURCDOC, REFRENCE, TRXDATE, PSTGSTUS, LASTUSER, LSTDTEDT, SERIES, DTA_Index,
				CURNCYID, CURRNIDX, RATETPID, EXGTBLID, XCHGRATE, EXCHDATE, TIME1, NOTEINDX, PERIODID, OPENYEAR, PRNTSTUS, Tax_Date)
				SELECT @BACHNUMB, 'GL_Normal' BCHSOURC, @IO_iOUTJournalEntry, @SOURCDOC, 'Recl: ' + @VCHRNMBR, @TRXDATE, 1 PSTGSTUS, @USERID,
				CONVERT(CHAR(8), GETDATE(), 112), 2 SERIES, @O_nDTAIndex, @CURNCYID, @CURRNIDX, @RATETPID, @EXGTBLID, @XCHGRATE, @EXCHDATE, @TIME1, 
				@O_mNoteIndex, @PERIODID PERIODID, @YEAR1 OPENYEAR, 1 PRNTSTUS, @TRXDATE Tax_Date
		END
		SELECT @SENIAL = 1
	END
	IF @LINEA <> 3 
	BEGIN 
		IF (@DEBITAMT <> 0 OR @CRDTAMNT <> 0 OR @ORDBTAMT <> 0 OR @ORCRDAMT <> 0) 
		BEGIN 
			SELECT @BCHTOTAL = @BCHTOTAL + @DEBITAMT + @CRDTAMNT

			SELECT @SQNCLINE = @SQNCLINE + 500

			INSERT INTO GL10001 (BACHNUMB, JRNENTRY, SQNCLINE, ACTINDX, XCHGRATE, CURRNIDX, ACCTTYPE, DECPLACS, ORTRXTYP, ORCTRNUM, ORDOCNUM, ORMSTRID, 
					ORMSTRNM, INTERID, RATETPID, EXGTBLID, EXCHDATE, TIME1, RTCLCMTD, CRDTAMNT, DEBITAMT, ORCRDAMT, ORDBTAMT,
					DENXRATE, MCTRXSTT, LNESTAT, DSCRIPTN)
					SELECT @BACHNUMB, @IO_iOUTJournalEntry, @SQNCLINE, @ACTINDX, @XCHGRATE, @CURRNIDX, 1 ACCTTYPE, @DECPLACS, 6 ORTRXTYP, @VCHRNMBR, 
						@VCHRNMBR, @ORMSTRID, @ORMSTRNM, DB_NAME(), @RATETPID, @EXGTBLID, @EXCHDATE, @TIME1, @RTCLCMTD, @CRDTAMNT, @DEBITAMT, @ORCRDAMT,
						@ORDBTAMT, @DENXRATE, @MCTRXSTT, 5 LNESTAT, 'Recl: ' + @VCHRNMBR

		END 
	END 
	ELSE 
	BEGIN 
		IF (@DIF <> 0) 
		BEGIN 
			SELECT @SQNCLINE = @SQNCLINE + 500
			SELECT @BCHTOTAL = @BCHTOTAL + @DEBITAMT + @CRDTAMNT
			IF @ORTAXAMT < 0 
			BEGIN 
				IF @DIF > 0 
				BEGIN 
					INSERT INTO GL10001 (BACHNUMB, JRNENTRY, SQNCLINE, ACTINDX, XCHGRATE, CURRNIDX, ACCTTYPE, DECPLACS, ORTRXTYP, ORCTRNUM, ORDOCNUM, ORMSTRID, 
							ORMSTRNM, INTERID, RATETPID, EXGTBLID, EXCHDATE, TIME1, RTCLCMTD, CRDTAMNT, DEBITAMT, ORCRDAMT, ORDBTAMT,
							DENXRATE, MCTRXSTT, LNESTAT, DSCRIPTN)
							SELECT @BACHNUMB, @IO_iOUTJournalEntry, @SQNCLINE, @ACTINDX, @XCHGRATE, @CURRNIDX, 1 ACCTTYPE, @DECPLACS, 6 ORTRXTYP, @VCHRNMBR, 
								@VCHRNMBR, @ORMSTRID, @ORMSTRNM, DB_NAME(), @RATETPID, @EXGTBLID, @EXCHDATE, @TIME1, @RTCLCMTD, 0, ABS(@DIF) , 0,
								0, @DENXRATE, @MCTRXSTT, 5 LNESTAT, 'Recl: ' + @VCHRNMBR

				END 
				ELSE 
				BEGIN 
					INSERT INTO GL10001 (BACHNUMB, JRNENTRY, SQNCLINE, ACTINDX, XCHGRATE, CURRNIDX, ACCTTYPE, DECPLACS, ORTRXTYP, ORCTRNUM, ORDOCNUM, ORMSTRID, 
							ORMSTRNM, INTERID, RATETPID, EXGTBLID, EXCHDATE, TIME1, RTCLCMTD, CRDTAMNT, DEBITAMT, ORCRDAMT, ORDBTAMT,
							DENXRATE, MCTRXSTT, LNESTAT, DSCRIPTN)
							SELECT @BACHNUMB, @IO_iOUTJournalEntry, @SQNCLINE, @ACTINDX, @XCHGRATE, @CURRNIDX, 1 ACCTTYPE, @DECPLACS, 6 ORTRXTYP, @VCHRNMBR, 
								@VCHRNMBR, @ORMSTRID, @ORMSTRNM, DB_NAME(), @RATETPID, @EXGTBLID, @EXCHDATE, @TIME1, @RTCLCMTD, ABS(@DIF), 0, 0,
								0, @DENXRATE, @MCTRXSTT, 5 LNESTAT, 'Recl: ' + @VCHRNMBR

				END 
			END 
			ELSE 
			BEGIN 
				IF @DIF > 0 
				BEGIN 
					INSERT INTO GL10001 (BACHNUMB, JRNENTRY, SQNCLINE, ACTINDX, XCHGRATE, CURRNIDX, ACCTTYPE, DECPLACS, ORTRXTYP, ORCTRNUM, ORDOCNUM, ORMSTRID, 
							ORMSTRNM, INTERID, RATETPID, EXGTBLID, EXCHDATE, TIME1, RTCLCMTD, CRDTAMNT, DEBITAMT, ORCRDAMT, ORDBTAMT,
							DENXRATE, MCTRXSTT, LNESTAT, DSCRIPTN)
							SELECT @BACHNUMB, @IO_iOUTJournalEntry, @SQNCLINE, @ACTINDX, @XCHGRATE, @CURRNIDX, 1 ACCTTYPE, @DECPLACS, 6 ORTRXTYP, @VCHRNMBR, 
								@VCHRNMBR, @ORMSTRID, @ORMSTRNM, DB_NAME(), @RATETPID, @EXGTBLID, @EXCHDATE, @TIME1, @RTCLCMTD, ABS(@DIF), 0, 0,
								0, @DENXRATE, @MCTRXSTT, 5 LNESTAT, 'Recl: ' + @VCHRNMBR
				END 
				ELSE 
				BEGIN 
					INSERT INTO GL10001 (BACHNUMB, JRNENTRY, SQNCLINE, ACTINDX, XCHGRATE, CURRNIDX, ACCTTYPE, DECPLACS, ORTRXTYP, ORCTRNUM, ORDOCNUM, ORMSTRID, 
							ORMSTRNM, INTERID, RATETPID, EXGTBLID, EXCHDATE, TIME1, RTCLCMTD, CRDTAMNT, DEBITAMT, ORCRDAMT, ORDBTAMT,
							DENXRATE, MCTRXSTT, LNESTAT, DSCRIPTN)
							SELECT @BACHNUMB, @IO_iOUTJournalEntry, @SQNCLINE, @ACTINDX, @XCHGRATE, @CURRNIDX, 1 ACCTTYPE, @DECPLACS, 6 ORTRXTYP, @VCHRNMBR, 
								@VCHRNMBR, @ORMSTRID, @ORMSTRNM, DB_NAME(), @RATETPID, @EXGTBLID, @EXCHDATE, @TIME1, @RTCLCMTD, 0, ABS(@DIF) , 0,
								0, @DENXRATE, @MCTRXSTT, 5 LNESTAT, 'Recl: ' + @VCHRNMBR

				END 
			END 
		END 
	END 
	FETCH NEXT FROM TAXES INTO @APTVCHNM, @APTODCTY, @TAXDTLID, @DEBITAMT, @CRDTAMNT, @ORDBTAMT, @ORCRDAMT, @ACTINDX, @DIF, @ORTAXAMT, @LINEA 
END 
CLOSE TAXES 
DEALLOCATE TAXES 

IF EXISTS(SELECT JRNENTRY FROM GL10001 WHERE JRNENTRY = @IO_iOUTJournalEntry)
BEGIN
	UPDATE GL10000 SET SQNCLINE = @SQNCLINE WHERE JRNENTRY = @IO_iOUTJournalEntry

	UPDATE ACA_RID10000 SET ACA_RID_Last = 0 WHERE TXDTLTYP = 2 AND DOCTYPE = 6 AND VCHRNMBR = @VCHRNMBR AND ACA_RID_Last = 1 

	UPDATE SY00500 SET BCHTOTAL = BCHTOTAL + @BCHTOTAL, NUMOFTRX = NUMOFTRX + 1 WHERE BACHNUMB = @BACHNUMB AND BCHSOURC = 'GL_Normal'

	INSERT INTO ACA_RID10000 SELECT 2 TXDTLTYP, 6 DOCTYPE, @VCHRNMBR, 2 ACA_RID_Origen, @YEAR1 YEAR1, @PERIODID MONTH1, @TRXDATE TRXDATE, 1 ACA_RID_Tax_Status, 1 ACA_RID_Last, @DATE1, @TIME2, @USERID USERID, @IO_iOUTJournalEntry JRNENTRY 

	INSERT INTO GL50101
	select @USERID, BCHSOURC, A.BACHNUMB, A.JRNENTRY, A.SQNCLINE, A.ACTINDX, 0 OFFINDX, GLLINMSG, GLLINMS2, TRXDATE, A.ACCTTYPE, DSCRIPTN, CURNCYID, A.CURRNIDX, 0 FUNCRIDX, INTERID, D.ACTNUMST, C.ACTDESCR, CRDTAMNT, DEBITAMT, ORCRDAMT, ORDBTAMT, ORCTRNUM, ORDOCNUM, ORMSTRID, ORMSTRNM, ORTRXTYP, A.MCTRXSTT, A.XCHGRATE, A.DENXRATE 
	from GL10001 A INNER JOIN GL10000 B ON A.JRNENTRY = B.JRNENTRY INNER JOIN GL00100 C ON A.ACTINDX = C.ACTINDX INNER JOIN GL00105 D ON A.ACTINDX = D.ACTINDX
	WHERE A.JRNENTRY = @IO_iOUTJournalEntry
END
ELSE
BEGIN
	INSERT INTO ACA_RID10000 SELECT 2 TXDTLTYP, 6 DOCTYPE, @VCHRNMBR, 2 ACA_RID_Origen, @YEAR1 YEAR1, @PERIODID MONTH1, @TRXDATE TRXDATE, 1 ACA_RID_Tax_Status, 1 ACA_RID_Last, @DATE1, @TIME2, @USERID USERID, 0 JRNENTRY 
END


go