
/****** Object:  StoredProcedure [dbo].[ACA_RID_Reimputacion_Impuestos_RM]    Script Date: 22/05/2017 07:39:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
create PROCEDURE [dbo].[ACA_RID_Reimputacion_Impuestos_RM] @DOCNUMBR char(21) 
AS 
if not exists(select name from sysobjects where name = 'ACA_RID_TX00201' and xtype = 'U') return 
declare @CURNCYID char(15), @FROMCURR char(15), @USERID CHAR(15), @RATETPID CHAR(15), @EXGTBLID CHAR(15) 
DECLARE @FUNLCURR CHAR(15), @DECPLCUR smallint, @FRMDCPLCUR smallint 
DECLARE @SEQNUMBR INT, @DSTINDX int, @ACTINDX INT, @DCINDX INT 
DECLARE @DEBITAMT numeric(19,5), @CRDTAMNT NUMERIC(19,5) 
DECLARE @ORDBTAMT NUMERIC(19,5), @ORCRDAMT NUMERIC(19,5) 
DECLARE @TAXAMNT NUMERIC(19,5), @ORTAXAMT NUMERIC(19,5), @DIF NUMERIC(19,5) 
DECLARE @CUSTNMBR CHAR(15), @ICCURRID CHAR(15) 
DECLARE @CNTRLTYP smallint, @RTCLCMTD smallint, @DECPLACS smallint, @MCTRXSTT smallint 
DECLARE @CURRNIDX INT, @FROMCURNIDX INT, @ICCURRIX INT, @LINEA INT 
DECLARE @XCHGRATE NUMERIC(19,7), @DENXRATE NUMERIC(19,5) 
DECLARE @EXCHDATE datetime, @TIME1 datetime, @EXPNDATE datetime 
DECLARE @TAXDTLID CHAR(15), @APTVCHNM CHAR(21), @APTODCTY smallint 
DECLARE @DATE1 datetime, @TIME2 datetime 
SELECT @DATE1 = convert(char(8), getdate(), 112) 
SELECT @TIME1 = '19000101 ' + convert(char(12), getdate(), 114) 
SELECT @FUNLCURR = FUNLCURR FROM MC40000 
SELECT @DECPLCUR = DECPLCUR-1 FROM DYNAMICS..MC40200 WHERE CURNCYID = @FUNLCURR 
SELECT TOP 1 @SEQNUMBR = SEQNUMBR, @CURNCYID = CURNCYID, @CURRNIDX = CURRNIDX, @CUSTNMBR = CUSTNMBR 
FROM RM10101 WHERE DOCNUMBR = @DOCNUMBR AND RMDTYPAL = 9 ORDER BY SEQNUMBR DESC 
SELECT @FRMDCPLCUR = DECPLCUR-1 FROM DYNAMICS..MC40200 WHERE CURNCYID = @CURNCYID 
SELECT @DCINDX = ISNULL((SELECT TOP 1 ACTINDX FROM SY01100 WHERE SERIES = 2 AND SEQNUMBR IN(100, 200, 300, 400) AND ACTINDX <> 0), 0) 
DECLARE TAXES CURSOR FOR 
SELECT A.DOCNUMBR, A.RMDTYPAL, A.TAXDTLID, ISNULL(ROUND((CASE WHEN A.TAXAMNT < 0 THEN ABS(A.TAXAMNT) ELSE 0 END)*B.ORAPTOAM/ISNULL(E.ORORGTRX, D.ORTRXAMT), @DECPLCUR), 0) DEBITAMT,  
ISNULL(ROUND((CASE WHEN A.TAXAMNT < 0 THEN 0 ELSE ABS(A.TAXAMNT) END)*B.ORAPTOAM/ISNULL(E.ORORGTRX, D.ORTRXAMT), @DECPLCUR), 0) CRDTAMNT, 
ISNULL(ROUND((CASE WHEN A.ORTAXAMT < 0 THEN ABS(A.ORTAXAMT) ELSE 0 END)*B.ORAPTOAM/ISNULL(E.ORORGTRX, D.ORTRXAMT), @FRMDCPLCUR), 0) ORDBTAMT,  
ISNULL(ROUND((CASE WHEN A.ORTAXAMT < 0 THEN 0 ELSE ABS(A.ORTAXAMT) END)*B.ORAPTOAM/ISNULL(E.ORORGTRX, D.ORTRXAMT), @FRMDCPLCUR), 0) ORCRDAMT,  
ACTINDX, 0 DIF, A.ORTAXAMT, 1 LINEA 
FROM RM10601 A INNER JOIN RM20201 B ON A.DOCNUMBR = B.APTODCNM AND A.RMDTYPAL = B.APTODCTY 
INNER JOIN ACA_RID_TX00201 C ON A.TAXDTLID = C.TAXDTLID 
INNER JOIN RM20101 D ON A.DOCNUMBR = D.DOCNUMBR AND A.RMDTYPAL = D.RMDTYPAL 
LEFT OUTER JOIN MC020102 E ON A.DOCNUMBR = E.DOCNUMBR AND A.RMDTYPAL = E.RMDTYPAL 
WHERE B.APFRDCNM = @DOCNUMBR AND C.CB_RID_Reimputa = 1  
AND (B.CURNCYID <> B.FROMCURR OR B.CURNCYID = @FUNLCURR OR B.FROMCURR = @FUNLCURR) 
UNION ALL 
SELECT A.DOCNUMBR, A.RMDTYPAL, A.TAXDTLID, ISNULL(ROUND((CASE WHEN A.TAXAMNT < 0 THEN 0 ELSE ABS(A.TAXAMNT) END)*B.ORAPTOAM/ISNULL(E.ORORGTRX, D.ORTRXAMT), @DECPLCUR), 0) DEBITAMT,  
ISNULL(ROUND((CASE WHEN A.TAXAMNT < 0 THEN ABS(A.TAXAMNT) ELSE 0 END)*B.ORAPTOAM/ISNULL(E.ORORGTRX, D.ORTRXAMT), @DECPLCUR), 0) CRDTAMNT, 
ISNULL(ROUND((CASE WHEN A.ORTAXAMT < 0 THEN 0 ELSE ABS(A.ORTAXAMT) END)*B.ORAPTOAM/ISNULL(E.ORORGTRX, D.ORTRXAMT), @FRMDCPLCUR), 0) ORDBTAMT,  
ISNULL(ROUND((CASE WHEN A.ORTAXAMT < 0 THEN ABS(A.ORTAXAMT) ELSE 0 END)*B.ORAPTOAM/ISNULL(E.ORORGTRX, D.ORTRXAMT), @FRMDCPLCUR), 0) ORCRDAMT,  
LI_Cuenta_ImpPagado ACTINDX, 0 DIF, A.ORTAXAMT, 2 LINEA 
FROM RM10601 A INNER JOIN RM20201 B ON A.DOCNUMBR = B.APTODCNM AND A.RMDTYPAL = B.APTODCTY 
INNER JOIN ACA_RID_TX00201 C ON A.TAXDTLID = C.TAXDTLID 
INNER JOIN RM20101 D ON A.DOCNUMBR = D.DOCNUMBR AND A.RMDTYPAL = D.RMDTYPAL 
LEFT OUTER JOIN MC020102 E ON A.DOCNUMBR = E.DOCNUMBR AND A.RMDTYPAL = E.RMDTYPAL 
WHERE B.APFRDCNM = @DOCNUMBR AND C.CB_RID_Reimputa = 1  
AND (B.CURNCYID <> B.FROMCURR OR B.CURNCYID = @FUNLCURR OR B.FROMCURR = @FUNLCURR) 
UNION ALL 
SELECT A.DOCNUMBR, A.RMDTYPAL, A.TAXDTLID,  
ISNULL(ROUND((CASE WHEN A.ORTAXAMT < 0 THEN ABS(A.ORTAXAMT) ELSE 0 END)*(B.ORAPTOAM/ISNULL(E.ORORGTRX, D.ORTRXAMT))*B.APTOEXRATE, @DECPLCUR), 0) DEBITAMT,  
ISNULL(ROUND((CASE WHEN A.ORTAXAMT < 0 THEN 0 ELSE ABS(A.ORTAXAMT) END)*(B.ORAPTOAM/ISNULL(E.ORORGTRX, D.ORTRXAMT))*B.APTOEXRATE, @DECPLCUR), 0) CRDTAMNT, 
ISNULL(ROUND((CASE WHEN A.ORTAXAMT < 0 THEN ABS(A.ORTAXAMT) ELSE 0 END)*B.ORAPTOAM/ISNULL(E.ORORGTRX, D.ORTRXAMT), @FRMDCPLCUR), 0) ORDBTAMT,  
ISNULL(ROUND((CASE WHEN A.ORTAXAMT < 0 THEN 0 ELSE ABS(A.ORTAXAMT) END)*B.ORAPTOAM/ISNULL(E.ORORGTRX, D.ORTRXAMT), @FRMDCPLCUR), 0) ORCRDAMT,  
ACTINDX, 0 DIF, A.ORTAXAMT, 1 LINEA 
FROM RM10601 A INNER JOIN RM20201 B ON A.DOCNUMBR = B.APTODCNM AND A.RMDTYPAL = B.APTODCTY 
INNER JOIN ACA_RID_TX00201 C ON A.TAXDTLID = C.TAXDTLID 
INNER JOIN RM20101 D ON A.DOCNUMBR = D.DOCNUMBR AND A.RMDTYPAL = D.RMDTYPAL 
LEFT OUTER JOIN MC020102 E ON A.DOCNUMBR = E.DOCNUMBR AND A.RMDTYPAL = E.RMDTYPAL 
WHERE B.APFRDCNM = @DOCNUMBR AND C.CB_RID_Reimputa = 1 AND B.CURNCYID = B.FROMCURR AND B.CURNCYID <> @FUNLCURR 
UNION ALL 
SELECT A.DOCNUMBR, A.RMDTYPAL, A.TAXDTLID,  
ISNULL(ROUND((CASE WHEN A.ORTAXAMT < 0 THEN 0 ELSE ABS(A.ORTAXAMT) END)*(B.ORAPTOAM/ISNULL(E.ORORGTRX, D.ORTRXAMT))*B.APFRMEXRATE, @DECPLCUR), 0) DEBITAMT,  
ISNULL(ROUND((CASE WHEN A.ORTAXAMT < 0 THEN ABS(A.ORTAXAMT) ELSE 0 END)*(B.ORAPTOAM/ISNULL(E.ORORGTRX, D.ORTRXAMT))*B.APFRMEXRATE, @DECPLCUR), 0) CRDTAMNT, 
ISNULL(ROUND((CASE WHEN A.ORTAXAMT < 0 THEN 0 ELSE ABS(A.ORTAXAMT) END)*B.ORAPTOAM/ISNULL(E.ORORGTRX, D.ORTRXAMT), @FRMDCPLCUR), 0) ORDBTAMT,  
ISNULL(ROUND((CASE WHEN A.ORTAXAMT < 0 THEN ABS(A.ORTAXAMT) ELSE 0 END)*B.ORAPTOAM/ISNULL(E.ORORGTRX, D.ORTRXAMT), @FRMDCPLCUR), 0) ORCRDAMT,  
LI_Cuenta_ImpPagado ACTINDX, 0 DIF, A.ORTAXAMT, 2 LINEA 
FROM RM10601 A INNER JOIN RM20201 B ON A.DOCNUMBR = B.APTODCNM AND A.RMDTYPAL = B.APTODCTY 
INNER JOIN ACA_RID_TX00201 C ON A.TAXDTLID = C.TAXDTLID 
INNER JOIN RM20101 D ON A.DOCNUMBR = D.DOCNUMBR AND A.RMDTYPAL = D.RMDTYPAL 
LEFT OUTER JOIN MC020102 E ON A.DOCNUMBR = E.DOCNUMBR AND A.RMDTYPAL = E.RMDTYPAL 
WHERE B.APFRDCNM = @DOCNUMBR AND C.CB_RID_Reimputa = 1 AND B.CURNCYID = B.FROMCURR AND B.CURNCYID <> @FUNLCURR 
UNION ALL 
SELECT A.DOCNUMBR, A.RMDTYPAL, A.TAXDTLID, 0 DEBITAMT, 0 CRDTAMNT, 
0 ORDBTAMT,  
0 ORCRDAMT,  
@DCINDX ACTINDX, 
(ROUND(ABS(A.ORTAXAMT)*(B.ORAPTOAM/ISNULL(E.ORORGTRX, D.ORTRXAMT))*B.APFRMEXRATE, @DECPLCUR) - 
ROUND(ABS(A.ORTAXAMT)*(B.ORAPTOAM/ISNULL(E.ORORGTRX, D.ORTRXAMT))*B.APTOEXRATE, @DECPLCUR)) DIF, A.ORTAXAMT, 3 LINEA 
FROM RM10601 A INNER JOIN RM20201 B ON A.DOCNUMBR = B.APTODCNM AND A.RMDTYPAL = B.APTODCTY 
INNER JOIN ACA_RID_TX00201 C ON A.TAXDTLID = C.TAXDTLID 
INNER JOIN RM20101 D ON A.DOCNUMBR = D.DOCNUMBR AND A.RMDTYPAL = D.RMDTYPAL 
LEFT OUTER JOIN MC020102 E ON A.DOCNUMBR = E.DOCNUMBR AND A.RMDTYPAL = E.RMDTYPAL 
WHERE B.APFRDCNM = @DOCNUMBR AND C.CB_RID_Reimputa = 1 AND B.CURNCYID = B.FROMCURR AND B.CURNCYID <> @FUNLCURR 
ORDER BY A.DOCNUMBR, A.RMDTYPAL, A.TAXDTLID, LINEA 
OPEN TAXES 
FETCH NEXT FROM TAXES INTO @APTVCHNM, @APTODCTY, @TAXDTLID, @DEBITAMT, @CRDTAMNT, @ORDBTAMT, @ORCRDAMT, @ACTINDX, @DIF, @ORTAXAMT, @LINEA 
IF @@FETCH_STATUS = 0 DELETE RM10101 WHERE DOCNUMBR = @DOCNUMBR AND DISTTYPE = 8 
WHILE @@FETCH_STATUS = 0  
BEGIN 
	IF @LINEA <> 3 
	BEGIN 
		IF (@DEBITAMT <> 0 OR @CRDTAMNT <> 0 OR @ORDBTAMT <> 0 OR @ORCRDAMT <> 0) 
		BEGIN 
			SELECT @SEQNUMBR = @SEQNUMBR + 16384 
			INSERT INTO RM10101 (PSTGSTUS, CHANGED, DOCNUMBR, DCSTATUS, DISTTYPE, RMDTYPAL, SEQNUMBR, CUSTNMBR, DSTINDX, DEBITAMT, CRDTAMNT,   
							CURNCYID, CURRNIDX, ORDBTAMT, ORCRDAMT) 
						SELECT 3 PSTGSTUS, 1 CHANGED, @DOCNUMBR, 1 DCSTATUS, 8 DISTTYPE, 9 RMDTYPAL, @SEQNUMBR, @CUSTNMBR, @ACTINDX, @CRDTAMNT, @DEBITAMT, 
						@CURNCYID, @CURRNIDX, @ORCRDAMT, @ORDBTAMT 
		END 
	END 
	ELSE 
	BEGIN 
		IF (@DIF <> 0) 
		BEGIN 
			SELECT @SEQNUMBR = @SEQNUMBR + 16384 
			IF @ORTAXAMT < 0 
			BEGIN 
				IF @DIF > 0 
				BEGIN 
					INSERT INTO RM10101 (PSTGSTUS, CHANGED, DOCNUMBR, DCSTATUS, DISTTYPE, RMDTYPAL, SEQNUMBR, CUSTNMBR, DSTINDX, DEBITAMT, CRDTAMNT,   
								CURNCYID, CURRNIDX, ORDBTAMT, ORCRDAMT) 
								SELECT 3 PSTGSTUS, 1 CHANGED, @DOCNUMBR, 1 DCSTATUS, 8 DISTTYPE, 9 RMDTYPAL, @SEQNUMBR, @CUSTNMBR, @ACTINDX,  
								0 CRDTAMNT, ABS(@DIF) DEBITAMT, @CURNCYID, @CURRNIDX, 0 ORCRDAMT, 0 ORDBTAMT 
				END 
				ELSE 
				BEGIN 
					INSERT INTO RM10101 (PSTGSTUS, CHANGED, DOCNUMBR, DCSTATUS, DISTTYPE, RMDTYPAL, SEQNUMBR, CUSTNMBR, DSTINDX, DEBITAMT, CRDTAMNT,   
								CURNCYID, CURRNIDX, ORDBTAMT, ORCRDAMT) 
								SELECT 3 PSTGSTUS, 1 CHANGED, @DOCNUMBR, 1 DCSTATUS, 8 DISTTYPE, 9 RMDTYPAL, @SEQNUMBR, @CUSTNMBR, @ACTINDX, 
								ABS(@DIF) CRDTAMNT, 0 DEBITAMT, @CURNCYID, @CURRNIDX, 0 ORCRDAMT, 0 ORDBTAMT 
				END 
			END 
			ELSE 
			BEGIN 
				IF @DIF > 0 
				BEGIN 
					INSERT INTO RM10101 (PSTGSTUS, CHANGED, DOCNUMBR, DCSTATUS, DISTTYPE, RMDTYPAL, SEQNUMBR, CUSTNMBR, DSTINDX, DEBITAMT, CRDTAMNT,  
								CURNCYID, CURRNIDX, ORDBTAMT, ORCRDAMT) 
								SELECT 3 PSTGSTUS, 1 CHANGED, @DOCNUMBR, 1 DCSTATUS, 8 DISTTYPE, 9 RMDTYPAL, @SEQNUMBR, @CUSTNMBR, @ACTINDX, 
								ABS(@DIF) CRDTAMNT, 0 DEBITAMT, @CURNCYID, @CURRNIDX, 0 ORCRDAMT, 0 ORDBTAMT 
				END 
				ELSE 
				BEGIN 
					INSERT INTO RM10101 (PSTGSTUS, CHANGED, DOCNUMBR, DCSTATUS, DISTTYPE, RMDTYPAL, SEQNUMBR, CUSTNMBR, DSTINDX, DEBITAMT, CRDTAMNT,   
								CURNCYID, CURRNIDX, ORDBTAMT, ORCRDAMT) 
								SELECT 3 PSTGSTUS, 1 CHANGED, @DOCNUMBR, 1 DCSTATUS, 8 DISTTYPE, 9 RMDTYPAL, @SEQNUMBR, @CUSTNMBR, @ACTINDX, 
								0 CRDTAMNT, ABS(@DIF) DEBITAMT, @CURNCYID, @CURRNIDX, 0 ORCRDAMT, 0 ORDBTAMT 
				END 
			END 
		END 
	END 
	FETCH NEXT FROM TAXES INTO @APTVCHNM, @APTODCTY, @TAXDTLID, @DEBITAMT, @CRDTAMNT, @ORDBTAMT, @ORCRDAMT, @ACTINDX, @DIF, @ORTAXAMT, @LINEA 
END 
CLOSE TAXES 
DEALLOCATE TAXES 
INSERT INTO ACA_RID_10100 SELECT 1 TXDTLTYP, 9 DOCTYPE, DOCNUMBR, @DATE1, @TIME1, SEQNUMBR, DEBITAMT, CRDTAMNT, ORDBTAMT, ORCRDAMT 
FROM RM10101 WHERE DOCNUMBR = @DOCNUMBR AND RMDTYPAL = 9 AND DISTTYPE = 8 
UPDATE ACA_RID_10000 SET ACA_RID_Last = 0 WHERE TXDTLTYP = 1 AND DOCTYPE = 9 AND DOCNUMBR = @DOCNUMBR AND ACA_RID_Last = 1 
INSERT INTO ACA_RID_10000 SELECT 1 TXDTLTYP, 9 DOCTYPE, @DOCNUMBR, 1 ACA_RID_Origen, 0 YEAR1, 0 TIME1, 0 TRXDATE, 1 ACA_RID_Tax_Status, 1 ACA_RID_Last, @DATE1, @TIME2, '' USERID 

go